<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinemaera">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cinema_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cinema_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile_Update"
            android:parentActivityName=".ProfileUser"
            android:theme="@style/EditProfileTheme"/>
        <activity android:name=".ProfileUser"
            android:theme="@style/AppTheme.NoActionBarViewAllFilm"/>
        <activity
            android:name=".AccountSignup"
            android:theme="@style/AccountTheme" />
        <activity
            android:name=".AccountLogin"
            android:theme="@style/AccountTheme" />
        <activity
            android:name=".ActionViewAllFilm"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarViewAllFilm" />
        <activity
            android:name=".LoveViewAllFilm"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarViewAllFilm" />
        <activity
            android:name=".HorrorViewAllFilm"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarViewAllFilm" />
        <activity
            android:name=".FavouriteFilm"
            android:theme="@style/AppTheme.NoActionBarViewAllFilm" />
        <activity android:name=".Film_gallery" />
        <activity
            android:name=".Search_activity"
            android:theme="@style/SearchView" />
        <activity
            android:name=".FrontScreen"
            android:theme="@style/AppTheme.NoActionBarSplashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarMain" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>